spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/gms
    username: postgres
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
app:
  jwt:
    secret: "ReplaceWithAStrongSecretKeyForJwtDemo1234567890"
    expireHours: 12
